<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text-to-Speech</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div class="container">
    <div id="inputAreaContainer">
        <label for="titleInput"></label><input type="text" id="titleInput" placeholder="Enter title here">
        <label for="textInput"></label><textarea id="textInput"></textarea>
        <button onclick="submitText()">Submit</button>
    </div>
    <div id="progressBarContainer">
        <div class="spinner"></div>
    </div>
    <audio id="audioPlayer" controls></audio>
    <div id="ttsRecordListContainer">
        <ul id="ttsRecordList"></ul>
    </div>
    <script src="../static/app.js"></script>

</div>
</body>
</html>
