<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text-to-Speech</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<div class="container">
    <label for="titleInput"></label><input type="text" id="titleInput" placeholder="Enter title here">
    <label for="textInput"></label><textarea id="textInput"></textarea>
    <button onclick="submitText()">Submit</button>
    <audio id="audioPlayer" controls></audio>
    <ul id="ttsRecordList"></ul>
</div>
<script src="../static/app.js"></script>

</body>
</html>
